* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main{
    background-color: rgb(241, 241, 241);
    height: 2050px;
    padding: 20px 20px;
}

header{
    background-color: #8199bc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

#animais{
    background-color: #d8e3f0;
    background-image: url(../img/background_patas.png);
    height: 545px;
    border-radius: 10px;
}
.grid-bloco1{
    display: grid;
    max-width: 2000px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    /*background-color: rgb(215, 151, 151);*/
    height: 545px;
}

.bloco-imagem{
    position: relative;
    /*background-color: #cdeccf;*/
    width: 100%;
    overflow: hidden;
    max-height: 600px; 
}
.bloco-imagem {
    padding-top: 40px;
    padding-left: 70px;
}

.bloco-imagem img{
    width: 600px;
    border-radius: 5px;
}

.descricao{
    display: flex;
    width: 100%;
    position: relative;
    /*background-color: bisque;*/
    overflow: hidden;
    max-height: 600px; 
}

.tabela-container{
    width: 100%;
    padding-top: 40px;
    padding-right: 70px;

}

.tabela-container h2{
    margin-bottom: 20px;
    text-align: left; /* ou center se quiser */
}

.tabela-container table{
    width: 100%;         /* faz a tabela ocupar toda a div */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #eef5f2;
}

table th, table td{
    border: 1px solid #333;
    padding: 15px;
    text-align: left;
}

#bloco-fotos{
    border-radius: 10px;
    margin-top: 20px;
    background-color: #e3dac2;
    height: 490px;
    padding: 50px 60px;
    margin-bottom: 20px;
}

.grid2{
    display: grid;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px; 
    /*background-color: rgb(215, 151, 151);*/
    height: 1400px;
}

.grid-item2{
    border: 5px solid #faf9f1;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #faf9f1;
    max-height: 440px; 
    border-radius: 10px;
}

.grid-item2 img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.grid-item2 .descricao{
   /* background-color: #edce71;*/
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

#info-animais{
    background-color: #a6bdd9;
    height: 800px;
    border-radius: 10px;
}