* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li, a {
    font-size: 16px;
    color: #2e2d2d;
    text-decoration: none;
}

.logo {
    color: #2e2d2d;
    font-size: 35px;
    font-weight: bold;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a:hover {
    color: #ffffff
}

main {
    background-color: rgb(241, 241, 241);
    height: 3350px;
}


#banner {
    display: flex;
    background-image: url(../img/banner-numeros.png);
    background-attachment: fixed;
    background-position: left;
    background-color: rgba(0, 0, 0, 0.229);
    background-blend-mode: multiply;
    /*background-color: #d8e3f0;*/
    height: 550px;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    /*flex-direction: row;*/
}

#div-imagem {
    /*background-color:antiquewhite;*/
    padding: 10px 10px;
    width: 56%;
    float: right;
}

#div-imagem img {
    width: 700px;
    height: 510px;
}

#txt-banner {
    /*background-color: rgb(255, 135, 135);*/
    padding: 90px 90px;
    text-align: left;
    width: 35%;
    color: #d8e3f0;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.btn-banner {
    background-color: #edce71;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 30px;
    border: none;
}

/* DIV COM TEXTO*/

#texto-primeiro {
    margin-top: 20px;
    background-image: url(../img/background_patas.png);
    background-color: rgb(241, 241, 241);
    height: 80px;
    padding: 60px 100px;
    align-items: center;
    text-align: center;
}

/* ======================
     GRID DE FOTOS 1
========================= */

#bloco-fotos {
    border-radius: 10px;
    margin-top: 20px;
    background-image: url(../img/background_patas.png);
    height: 610px;
    padding: 50px 60px;
    margin-bottom: 20px;
}

.grid1 {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.grid-item a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.grid1 div {
    font-size: 20px;
    align-items: center;
    border-radius: 10px;
}

.grid1>div:nth-child(n +2) {
    height: 350px;
    grid-template-columns: 1fr 1fr;
    background-color: #bf6b6b;
    align-items: center;
}

.grid1>div#foto_1 {
    grid-column: 1;
    grid-row: 1 / span 3;
    background-color: #848484;
    height: 620px;
}

.grid1>div#foto_4 {
    background-color: #9ff1cb;
    height: 260px;
    display: block;
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
}

.texto-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: 0;
    color: #edecec;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.grid1:hover .texto-hover {
    align-items: center;
    font-size: 20px;
    opacity: 1;
}

/* ==========================
    DIV COM FOTOS DOS ANIMAIS
============================= */

#animais {
    border-radius: 10px;
    margin-top: 20px;
    background-color: #f7f7f7;
    /*background-color: #DCD8CC;*/
    height: 1535px;
    padding: 50px 60px;
    margin-bottom: 20px;
}

#texto-segundo {
    background-color: #f7f7f7;
    height: 20px;
    padding: 20px 100px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

.line-texto {
    margin-top: 40px;
    border-bottom: 2px solid #00000063;
}

.div-pesquisa {
    margin: 20px;
    height: 70px;
    background-color: #ba4343;
}

.caixa-pesquisa {
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 5px;
    width: 220px;
    height: 30px;
    background-color: #ba4343;
    border: 1 solid #848484;
    border-radius: 10px;
    align-items: center;
}

.txt-pesquisa {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #c8c8c8;
    font-size: 14px;
    line-height: 40px;
    margin-left: 10px;
}

.btn-pesquisa a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cartao {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

}

/* ======================
     GRID DE FOTOS 2
========================= */

.grid2 {
    display: grid;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /*background-color: rgb(215, 151, 151);*/
    height: 1400px;
}

.grid-item2 {
    /*border: 5px solid #faf9f1;*/
    border: 5px solid #fdfcfc;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #faf9f1;
    max-height: 440px;
    border-radius: 10px;
}

.grid-item2 img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.grid-item2 .descricao {
    /* background-color: #edce71;*/
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

a.btn-adotar {
    font-size: 14px;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #edf2f8;
    background-color: #6f7e93;
    display: inline-block;
}

a.btn-apadrinhar {
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #dcd4be;
    display: inline-block;
}

#animais .btn-animais {
    padding: 15px;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#animais .btn-animais a {
    width: 90px;
    padding: 15px;
    background-color: #948e7f;
    border-radius: 5px;
}

#adocao {
    background-color: #60b3e2;
    height: 200px;
    border-radius: 10px;
}

footer {
    background-color: #494949;
    width: 100%;
    height: 300px;
}

#rodape {
    display: flex;
}

#rodape .logo {
    float: left;
    background-color: #d8e3f0;
}

#rodape .contato {
    float: right;
    background-color: #5c94d8;
}