* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: #96b0d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

li, a{
    font-size: 16px;
    color:#2e2d2d;
    text-decoration: none;
}

.logo{
    color: #2e2d2d;
    font-size: 35px;
    font-weight: bold;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a:hover{
    color: #60b3e2
}

main{
    background-color: rgb(241, 241, 241);
    height: 2810px;
    padding: 20px 20px;
}

#banner{
    display: flex;
    /*background-image: url(img/background_patas.png);*/
    background-color: #d8e3f0;
    height: 500px;
    border-radius: 10px;
    /*flex-direction: row;*/
}

#div-imagem{
    /*background-color:antiquewhite;*/
    padding: 15px 10px;
    width: 56%;
    float: right;
}

#div-imagem img{
    width: 850px;
    height: 500px;
}

#txt-banner{
    /*background-color: rgb(255, 135, 135);*/
    padding: 140px 90px;
    text-align: left;
    width: 40%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.btn-banner{
    background-color: #edce71;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 30px;
    border: none;
}

#texto-primeiro{
    margin-top: 30px;
    background-image: url(img/background_patas.png);
    background-color: rgb(241, 241, 241);
    height: 70px;
    padding: 40px 100px;
    align-items: center;
    text-align: center;
}

#bloco-fotos{
    display: grid;
    margin-top: 20px;
    height: 500px;
    background-image: url(img/background_patas.png);
    background-color: rgb(241, 241, 241);
    padding: 10px 100px;
    grid-template-columns: auto auto auto ;
}

#bloco-fotos div{
  font-size: 30px;
  text-align: center;
  margin: 7px;
  border-radius: 10px;
}

#foto_1{
    grid-row: 1 / span 2;
    background-color: #848484;
    height: 465px;
}
#foto_2{
    background-color: #848484;
    height: 200px;

}
#foto_3{
    background-color: #848484;
    height: 200px;

}
#foto_4{
    background-color: #848484;
    height: 250px;
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
}

#animais{
    border-radius: 10px;
    margin-top: 20px;
    background-color: #DCD8CC;
    height: 1050px;
    padding: 50px 60px;
    margin-bottom: 20px;
}

.caixa-pesquisa{
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 5px;
    width: 210px;
    height: 30px;
    background-color: #edecec;
    border: 1 solid #848484;
    border-radius: 15px;
    align-items: center;
}

.txt-pesquisa{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #c8c8c8;
    font-size: 14px;
    line-height: 40px;
    margin-left: 10px;
}

.btn-pesquisa a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
/*.div2 {
    padding: 40px 20px;
    background-image: url(img/background_patas.png);
    background-position: center;
    height: 180px;
    align-items: center;
    text-align: center;
    padding: 80px 280px;
    font-size: 18px;
}

p.txt-inicio{
    text-align: center;
}
*/
.dogs-img{
    background-color: rgb(215, 151, 151);
    height: 950px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
    padding: 10px 0px;
    flex-wrap: wrap;
}

.img div{
    background-color: rgb(205, 217, 202);
    height: 100px;
    width: 350px;
    padding: 5px 60px;
}

#adocao{
    background-color: #60b3e2;
    height: 400px;
    border-radius: 10px;
}

footer {
    background-color: #494949;
    width: 100%;
    height: 200px;
}